<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <form [formGroup]="loginForm">
                <div class="mb-md-5 mt-md-4 pb-5">
  
                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                    <p class="text-white-50 mb-5">Please enter your login and password!</p>
      
                    <div class="form-outline form-white mb-4">
                      <input type="email" id="typeEmailX" class="form-control form-control-lg" formControlName="userEmail" placeholder="Email"/>
                      <div *ngIf="userEmail?.invalid && userEmail?.touched">
                        <small class="text-danger" *ngIf="userEmail?.errors?.['required']"> Email is Required</small>
                        <small class="text-danger" *ngIf="userEmail?.errors?.['pattern']"  > Email should be in form example@domain.com </small>
                       </div>
                      
                    </div>
      
                    <div class="form-outline form-white mb-4">
                      <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="userPassword"  placeholder="password"/>
                      <div *ngIf="userPassword?.invalid && userPassword?.touched">
                        <small class="text-danger" *ngIf="userPassword?.errors?.['required']">Password is Required</small>
                        <small class="text-danger" *ngIf="userPassword?.errors?.['pattern']">Password should be in form like (capital & small letters ,at least 6 characters and maximum 32 characters)</small>
                    </div>
                    <div *ngIf="errorLogin " class="text-center">
                        <small class="text-danger">Invalid Name Or Password</small>
                    </div>
                    </div>
      
                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
      
                    <button [disabled]="loginForm.invalid" (click)="submitLogInForm()" class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
    
      
                  </div>
              </form>
  
              <div>
                <p class="mb-0">Don't have an account? <a routerLink="/registeration" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>